/*Styling page for the app!*/
body{
    background-color: black;
    background-image: url("background.png");
    color: aliceblue;
}

.UIbox {
    height: 450px;
    width: 650px;
    background: linear-gradient(132deg, #33ccff 0%, #ff99cc);
    background-size: 150% 150%;
    border-color: lightseagreen;
    box-sizing: border-box;
    border-width: 2px;
    border-radius: 1%;
    border-style: double;
    align-content: center;
    margin: auto;
    padding: 20px;
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    animation-name: bgshift;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.UIbox:hover {
    animation-name: cshift;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: scale(1.02);
}
.signIn{
    margin-bottom: 30px;
    border-color: black;
    border-width: 2px;
    border-style: double;
}
.signIn:hover{
    animation-name: cshift;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transform: scale(1.1);
}
.launchButton{
    border-radius: 10px;
    margin-bottom: 15px;
    border-width: 2px;
    border-color: black;
    border-style: double;
}
.launchButton:hover{
    transform: scale(1.2);
    animation-name: cshift;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.UIbox2 {
    height: 150px;
    width: 250px;
    color: black;
    background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
    background-size: 150% 150%;
    box-sizing: border-box;
    box-shadow: 5px;
    border-width: 2px;
    border-radius: 5%;
    border-style: double;
    border-color: lightseagreen;
    align-content: center;
    position: absolute;
    animation-fill-mode: forwards;
    animation-name: slide, bgshift;
    animation-iteration-count: initial;
    animation-duration: 4s;
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
}
.UIbox2:hover{

}
.UIbox3 {
    height: 150px;
    width: 250px;
    /*height: 25%;
    width: 20%;*/
    color: black;
    background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
    background-size: 150% 150%;
    box-sizing: border-box;
    box-shadow: 5px;
    border-width: 2px;
    border-radius: 5%;
    border-style: double;
    border-color: lightseagreen;
    align-content: center;
    position: absolute;
    animation-fill-mode: forwards;
    animation-name: slide, bgshift;
    animation-iteration-count: initial;
    animation-duration: 4s;
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    margin-top: 90px;
}
.paragraph{
    color: salmon;
}
#insert{
    color: lightseagreen;
}
#listApp{
    color: black;
}
.mega{
    color: snow;
    font-family: 'Pacifico', cursive;
    align-items: center;
    text-align: center;
}
.footer {
    margin: auto;
    text-align: center;
    animation-name: tshift;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes tshift{
    25%{
        color: tomato;
    }
    50%{
        color: chartreuse;
    }
    75%{
        color: coral;
    }
    100%{
        olor: turquoise;
    } 
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes slide{
    from{
        transform: translateX(0px) rotate(0deg);
    }
    to{
        transform: translateX(275px) rotate(360deg);
    }
}
@keyframes cshift{
    25%{
        border-color: tomato;
    }
    50%{
        border-color: chartreuse;
    }
    75%{
        border-color: coral;
    }
    100%{
        border-color: turquoise;
    }
}
@keyframes load360 {
    50% {
    transform: rotate(360deg);
    } 
}
@keyframes bgshift{ 
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/**WEBKIT KEYFRAMES BELOW HERE**/